<%
search_keyword = @login.user.preference('scraper.dashboard.search_keyword', '', params[:search_keyword])
selected_ids = @login.user.preference('scraper.dashboard.selected_ids', '', nil)
ids = selected_ids.split(',')

all = "
    select 
        u.id, 
        u.name,
		u.email
    from \"user\" u
    where u.id_account = '#{@login.user.id_account}' 
	and u.delete_time is null

"

all += " 
    and (
        lower(u.name) like '%#{search_keyword.downcase}%'
        or
		lower(u.email) like '%#{search_keyword.downcase}%'
    )
" unless search_keyword.empty?

all += "
    order by u.create_time desc
"

# TODO: use re-utilizable function here.
page_size = 25
total_rows = DB[all].count
if total_rows>0
  total_pages = (total_rows.to_f/page_size.to_f).round().to_i
  # if there is a GET parameters `number` on the URL, update the user preference regarding the page number on this screen
  # then, get user preferences regarding the page number on this screen
  page_number = @login.user.preference("scraper.dashboard.pagination.page", 1, params[:number].nil? ? nil : params[:number].to_i)
  # pagination correction to prevent glitches
  page_number = 1 if page_number < 1
  page_number = total_pages if page_number > total_pages
  # calculate info for showing at the bottom of the table
  from_row = (page_number.to_i-1) * page_size.to_i + 1
  to_row = [page_number*page_size, total_rows].min
else
  total_pages = 1
  page_number = 1
  from_row = 0
  to_row = 0
end

q = "
"+all+"
  LIMIT #{page_size.to_s}
  OFFSET #{((page_number.to_i - 1) * page_size.to_i).to_s}
"

q = all

erb "<H1>HOLA</H1>"

%>

<!-- NavBar -->
<div class="mynavbar mysticky">
	<section class="row-fluid">	
		<div class="span4">
		    <%=nav2("Scraper", "/scraper", "Dashboard")%>
		</div>
		<div class="span8" style='text-align:right;'>
            <button type="button" class="btn btn-blue" id='play_sharing' name='play_sharing' data-rows-group-id='users' title='Start Sharing'><i class='icon-play'></i> Start Sharing</button>
            <button type="button" class="btn btn-gray" id='stop_sharing' name='stop_sharing' data-rows-group-id='users' title='Stop Sharing'><i class='icon-pause'></i></button>
        </div>
	</section>
</div>

<!-- Single Panel -->
<section class="row-fluid box">
        <p>
            <b>Records:</b> <%=from_row.to_label%> to <%=to_row.to_label%> <b>of</b> <%=total_rows.to_label%>
        </p>
        <table class="table table-condensed" style="table-layout: fixed; width: 100%;">
            <thead>
                <th style="width:24px;"><input type='checkbox' class='select-all-rows' data-rows-group-id='orders' data-input-id='ids' /></th>
                <th style="width:auto;">Name</th>
                <th style="width:45px;">Status</th> <!-- if his extension is working -->
                <th style="width:45px;">Version</th> <!-- what version of the scraper is using -->
                <th style="width:45px;">Sharing</th> <!-- if he is sharing his extension for running with other accounts orders -->
                <th style="width:45px;text-align:right;">Own<br/>Pages</th>
                <th style="width:45px;text-align:right;">Other<br/>Pages</th>
                <th style="width:45px;text-align:right;">PPP</th>
                <th style="width:65px;text-align:right;">Total<br/>Earnings</th>
                <th style="width:65px;text-align:right;">Total<br/>Payouts</th>
            </thead>
			<tbody>
				<%
				DB[q].all do |row|
				%>
				<tr>
					<th><input type='checkbox' class='select-row' data-id='<%=row[:id].to_guid%>' data-rows-group-id='orders' <%=ids.include?(row[:id].to_guid) ? 'checked' : ''%> /></th>
					<td class="fix" title="<%=row[:name].to_s.encode_html%>"><a href='/dfy-leads/orders/<%=row[:id].to_guid%>/edit'><%=row[:name].to_s.encode_html%></a></td>
				</tr>
				<%
				end
				%>
			</tbody>
		</table>
		<div class="pagination"></div>
</section>

<script>
	/*
    $(document).ready(function() {
        drawPagination($(".pagination"), <%=page_number%>, <%=total_pages%>);
        selectRowsJs.init();

        $('#play_orders').click(function() {
            var ids = $('#ids').val();
            if (ids.length > 0) {
                window.location = '/dfy-leads/filter_play_orders?ids=' + ids;
            }
        });

        $('#pause_orders').click(function() {
            var ids = $('#ids').val();
            if (ids.length > 0) {
                window.location = '/dfy-leads/filter_pause_orders?ids=' + ids;
            }
        });
    });
	*/
</script>