<%
# load preferences
name = @login.user.preference('content.seminar.new.name', '', nil)
path = @login.user.preference('content.seminar.new.path', '', nil)
publ = @login.user.preference('content.seminar.new.public', false, nil)
desc = @login.user.preference('content.seminar.new.description', '', nil)
type = @login.user.preference('content.seminar.new.type', '', nil)
shwa = @login.user.preference('content.seminar.new.show_abstract', true, nil)
shwb = @login.user.preference('content.seminar.new.show_free_premium_badges', true, nil)
shwt = @login.user.preference('content.seminar.new.show_author', true, nil)
shwp = @login.user.preference('content.seminar.new.show_path', true, nil)
%>

<!-- NavBar -->
<div class="mynavbar mysticky">
	<section class="row-fluid">	
		<div class="span6">
		<%=nav3("Content", "/content", "Seminars", "/content/seminars", "New")%>
		</div>
	</section>
</div>

<!-- Single Panel -->
<section class="row-fluid">
	<div class="span12 box">
		<form method='post' action='/content/filter_new_seminar' class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="name">Name</label>
                <div class="controls">
                    <input type="text" id="name" name='name' placeholder="Name" value='<%=name.to_s.encode_html%>' />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="path">Path</label>
                <div class="controls">
                    <input type="text" id="path" name='path' placeholder="Path" value='<%=path.to_s.encode_html%>' />
                    <p><b><%=CS_HOME_WEBSITE%>/seminars/</b><span id='preview_path'>path</span><b>/</b><span id='preview_name'>name</span></p>
                </div>

                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" id='public' name='public' <%=publ ? 'checked' : ''%>> Public
                    </label>
                </div>

                <div class="control-group">
                    <label class="control-label" for="type">Type</label>
                    <div class="controls">
                        <select id="type" name='type' placeholder="Type">
                            <%
                            BlackStack::Content::Seminar.types.each { |t|
                            %>
                            <option value='<%=t%>' <%=type==t ? 'selected' : ''%>><%=BlackStack::Content::Seminar.type_name(t).encode_html%></option>
                            <%
                            } # BlackStack::Content::Seminar.types.each { |t|
                            %>
                        </select>
                    </div>
                </div>

                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" id='show_abstract' name='show_abstract' <%=shwa ? 'checked' : ''%>> Show Abstracts
                    </label>
                </div>
                
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" id='show_free_premium_badges' name='show_free_premium_badges' <%=shwb ? 'checked' : ''%>> Show Badges
                    </label>
                </div>
                
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" id='show_author' name='show_author' <%=shwt ? 'checked' : ''%>> Show Author
                    </label>
                </div>

                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" id='show_path' name='show_path' <%=shwp ? 'checked' : ''%>> Show Path
                    </label>
                </div>

                <div class="control-group">
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <textarea id="description" name='description' placeholder="Description" rows=5 style='width:100%;' maxlength=4000><%=desc.to_s.encode_html%></textarea>
                    </div>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-blue">Create</button>
                </div>
            </div>
        </form>
	</div>
</section>