<%
# i2p account
i2p_account = BlackStack::I2P::Account.where(:id=>@login.user.id_account).first
service_name = 'leads'
# get the service descriptor
service = BlackStack::I2P::service_descriptor(service_name)
# get all plans for this service, who are subscriptiosn and who are public
plan = BlackStack::I2P::plans_descriptor.select { |h| h[:item_number] == 'leads.offer' }.first

path = params[:path].to_s
name = params[:name].to_s
privurl = "/seminars/#{path}/#{name}"

# get the seminar/leads/results
s = BlackStack::Content::Seminar.where(:path=>path, :name=>name).first

# get the array of sections
a = s.sections.sort_by { |t| t.name.to_s }.select { |t| t.delete_time.nil? }

# rendered to convert markdown to html
markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true, tables: true)

# load preferences
publ = s.public
desc = s.description

# marked first section as seen by the logged user 
a[0].seen_by(@login.user) if a.size > 0

# buffer of status of each section
seens = []
dones = []
a.each { |section|
    seens << section.seen_by?(@login.user)
    dones << section.done_by?(@login.user)
}
%>

<!-- NavBar -->
<div class="mynavbar mysticky">
	<section class="row-fluid">	
		<div class="span12">
            <%=nav3("Seminars", "/seminars", path.gsub('-', ' ').capitalize, "/seminars/#{path}", name.gsub('-', ' ').capitalize)%>
		</div>
	</section>
</div>

<!-- Section -->
<section class="row-fluid">
    <div class="span9">
        <!-- edit seminar -->
        <section class="row-fluid">
            <div class="span12 box seminar">
                <h1 class='name'><%=name.to_s.encode_html%></h1>
                <%
                if s.show_abstract
                %>
                <pre class='content'><b>Abstract</b><br/><%=BlackStack::Content::Seminar.merge(desc.to_s).encode_html%></pre>
                <%
                end # if s.show_abstract
                %>

                <%
                if s.show_author
                %>
                <span class='path'><b>author:</b> <%=s.user.name.to_s.encode_html%></span>
                <%
                end #if s.show_author
                %>

                <%
                if s.show_path
                %>
                <span class='path'><b>path:</b> <a href='/seminars/<%=path%>'><%=path.to_s.encode_html%></a></span>
                <%
                end #if s.show_path
                %>
            </div>
        </section>

        <!-- draw section -->
        <%
        i = 0
        if a.size > 0
            a.each { |section|
                seen = seens[i] #section.seen_by?(@login.user)
                done = dones[i] #section.done_by?(@login.user)
                done_prev = i==0 ? true : dones[i-1] # if the previous section has been done
                last = i==a.size-1 # if this is the last section
                i += 1
                %>
                <section class="row-fluid" id='<%=i.to_s%>' name='<%=i.to_s%>'>
                    <div class="span12 box section">
                        <h1 class='name' style='margin-top:25px;'><%=BlackStack::Content::Seminar.merge(section.name.to_s).encode_html%></h1>
                        <%
                        if s.show_abstract
                        %>
                        <pre class='description'><b>Abstract</b><br/><%=BlackStack::Content::Seminar.merge(section.description.to_s).encode_html%></pre>
                        <%
                        end # if s.show_abstract
                        %>
        
                        <div class='content'>
                            <%=markdown.render(BlackStack::Content::Seminar.merge(section.content.to_s))%>
                        </div>
                    </div>
                </section>
            <%
            } # a.each
        end
        %>
    </div>

    <div class="span3 sections-contaier">
    <div class='sections'>
        <h4>Sections</h4>
        <%
        i = 0
        s.sections.sort_by { |t| t.name.to_s }.select { |t| t.delete_time.nil? }.each { |section|
            i += 1
        %>
        <section class="row-fluid section">
            <div class="span12">
                <a href='#<%=i%>'>
                    <i class='icon-ok'></i> <%=BlackStack::Content::Seminar.merge(section.name.to_s).encode_html%>
                </a>
            </div>
        </section>
        <%
        }
        %>
    </div>
    </div>

</section>
