<%
path = params[:path].to_s
name = params[:name].to_s
privurl = "/seminars/#{path}/#{name}"

# if there is someone logged in, redirect to same seminar in the private view
redirect privurl if logged_in?

# get the seminar
s = BlackStack::Content::Seminar.where(:path=>path, :name=>name).first

# rendered to convert markdown to html
markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true, tables: true)

# load preferences
publ = s.public
desc = s.description
%>

<section class="row-fluid">
    <div class="span9">
        <!-- edit seminar -->
        <section class="row-fluid">
            <div class="span12 box seminar">
                <h1 class='name'><%=BlackStack::Content::Seminar.merge(name.to_s).encode_html%></h1>
                <%
                if s.show_abstract
                %>
                <pre class='content'><b>Abstract</b><br/><%=BlackStack::Content::Seminar.merge(desc.to_s).encode_html%></pre>
                <%
                end # if s.show_abstract
                %>

                <%
                if s.show_author
                %>
                <span class='path'><b>author:</b> <%=s.user.name.to_s.encode_html%></span>
                <%
                end #if s.show_author
                %>

                <%
                if s.show_path
                %>
                <span class='path'><b>path:</b> <a href='/seminars/<%=path%>'><%=path.to_s.encode_html%></a></span>
                <%
                end #if s.show_path
                %>
            </div>
        </section>

        <!-- draw section -->
        <%
        i = 0
        a = s.sections.sort_by { |t| t.name.to_s }.select { |t| t.delete_time.nil? }
        if a.size > 0
            a.each { |section|
                i += 1
                %>
                <section class="row-fluid" id='<%=i.to_s%>' name='<%=i.to_s%>'>
                    <div class="span12 box section">
                        <h1 class='name'><%=BlackStack::Content::Seminar.merge(section.name.to_s).encode_html%></h1>
                        
                        <%
                        if s.show_abstract
                        %>        
                        <pre class='description'><b>Abstract</b><br/><%=BlackStack::Content::Seminar.merge(section.description.to_s).encode_html%></pre>
                        <%
                        end # if s.show_abstract
                        %>
                        
                        <div class='content'>
                            <%=markdown.render(BlackStack::Content::Seminar.merge(section.content.to_s))%>
                        </div>
                    </div>
                </section>
                <%
            } # each section
        end # if a.size > 0
        %>
    </div>

    <div class="span3 sections-contaier">
        <div class='sections'>
            <h4>Sections</h4>
            <%
            i = 0
            s.sections.sort_by { |t| t.name.to_s }.select { |t| t.delete_time.nil? }.each { |section|
                i += 1
            %>
            <section class="row-fluid section">
                <div class="span12">
                    <a href='#<%=i%>'><i class='icon-chevron-right'></i> <%=section.name.to_s.encode_html%></a>
                </div>
            </section>
            <%
            }
            %>
        </div>
    </div>

</section>
