<%
sid = params[:sid].to_s
s = BlackStack::Content::Seminar.where(:id=>sid).first

# rendered to convert markdown to html
markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true, tables: true)

# load preferences
name = s.name
path = s.path
publ = s.public
desc = s.description
%>

<!-- NavBar -->
<div class="mynavbar mysticky">
	<section class="row-fluid">	
		<div class="span6">
		    <%=nav3("Content", "/content", "Seminars", "/content/seminars", "#{name.capitalize}")%>
		</div>
	</section>
</div>

<section class="row-fluid">
    <div class="span3 box">
        <h4>Sections</h4>
        <%
        s.sections.sort_by { |t| t.name.to_s }.select { |t| t.delete_time.nil? }.each { |section|
        %>
        <section class="row-fluid">
            <div class="span12">
                <a href='#<%=section.id.to_guid%>'><i class='icon-chevron-right'></i> <%=BlackStack::Content::Seminar.merge(section.name.to_s).encode_html%></a>
            </div>
        </section>
        <%
        }
        %>
        <br/>
        <section class="row-fluid">
            <div class="span12">
                <a href='/content/filter_new_section?sid=<%=params['sid']%>' title='Add section'><i class='icon-plus'></i> Add Section</a>
            </div>
        </section>
    </div>

    <div class="span9">
        <!-- edit seminar -->
        <section class="row-fluid">
            <div class="span12 box seminar">
                <h1 class='name'><%=BlackStack::Content::Seminar.merge(name.to_s).encode_html%></h1>
                <%
                if s.show_abstract
                %>        
                <pre class='content'><b>Abstract</b><br/><%=BlackStack::Content::Seminar.merge(desc.to_s).encode_html%></pre>
                <%
                end # if s.show_abstract
                %>        
                <span class='badge badge-<%=publ ? 'green' : 'blue'%>'><%=publ ? 'public' : 'private'%></span> 
                <a href='/content/seminars/<%=params['sid'].to_guid%>/edit' class='button' title='Edit'><i class='icon-pencil'></i></a>               
                <a href='/content/filter_delete_seminar?sid=<%=params['sid'].to_guid%>' class='button' title='Delete'><i class='icon-trash'></i></a>               
                <a href='<%=CS_HOME_WEBSITE%>/seminars/pub/<%=path%>/<%=name%>' target='_window' class='button' title='view'><i class='icon-link'></i></a>               
                <span class='path'><b>path:</b> <%=path%></span>
            </div>
        </section>

        <!-- draw section -->
        <%
        s.sections.sort_by { |t| t.name.to_s }.select { |t| t.delete_time.nil? }.each { |section|
        %>
        <section class="row-fluid" id='<%=section.id.to_guid%>' name='<%=section.id.to_guid%>'>
            <div class="span12 box section">
                <h1 class='name'><%=BlackStack::Content::Seminar.merge(section.name.to_s).encode_html%></h1>
                <%
                if s.show_abstract
                %>        
                <pre class='description'><b>Abstract</b><br/><%=BlackStack::Content::Seminar.merge(section.description.to_s).encode_html%></pre>
                <%
                end # if s.show_abstract
                %>        

                <%
                if s.show_free_premium_badges
                %>
                <span class='badge badge-<%=section.premium ? 'green' : 'blue'%>'><%=section.premium ? 'premium' : 'free'%></span> 
                <%
                end # if s.show_free_premium_badges
                %>

                <a href='/content/seminars/<%=params['sid'].to_guid%>/edit/<%=section.id.to_guid%>' class='button' title='Edit'><i class='icon-pencil'></i></a>               
                <a href='/content/filter_delete_section?tid=<%=section.id.to_guid%>' class='button' title='Delete'><i class='icon-trash'></i></a>               

                <%
                if s.show_author
                %>
                <span class='path'><b>author:</b> <%=s.user.name.to_s.encode_html%></span>
                <%
                end #if s.show_author
                %>

                <%
                if s.show_path
                %>
                <span class='path'><b>path:</b> <a href='/seminars/<%=path%>'><%=path.to_s.encode_html%></a></span>
                <%
                end #if s.show_path
                %>

                <div class='content'>
                    <%=markdown.render(BlackStack::Content::Seminar.merge(section.content).to_s)%>
                </div>
            </div>
        </section>
        <%
        }
        %>

        <!-- add section -->
        <section class="row-fluid">
            <div class="span12 box">
                <center><h1><a href='/content/filter_new_section?sid=<%=params['sid']%>' title='Add section'><i class='icon-plus'></i> Add Section</a></h1></center>
            </div>
        </section>
    </div>
</section>
